<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script rel="stylesheet" href="{{ url_for('static', filename='/javascript/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
    <title>{% block heading %}{% endblock heading %}</title>
</head>
<body>
    <h1>Shorten Ur URL</h1>
    {% block content %}{% endblock content %}
</body>
</html>