
{% extends 'base.html' %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}" />

{% block heading %}
    Ur URL
{% endblock heading %}

{% block content %}
<form action="/" method="post" onsubmit="no_text(e)">
    <label for="url">Enter Ur URL</label>
    <input type="text" id="url" name="url" placeholder="https://..." required>
    <button type="submit">Shorten URL</button>
</form>
<div id="result">
    <a href='{{link}}'>{{result}}</a>
    <button id="copy">Copy URL</button>
    <!-- <img class="qrcode" src="{{ url_for('static',filename='images/qr.png') }}" alt="">
</div> -->
{% endblock content %}